<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Online Bank</title>
	</head>
	<body>
		<h2>Transaction History</h2>
		
		<table>
			<tr>
				<th>ID</th>>
				<th>Date</th>
				<th>Retailer</th>
				<th>Funds In</th>
				<th>Funds Out</th>
			</tr>>
			<tr th:each="txn : ${transactions}">
				<td style="padding: 5px"><a th:href="@{/transactions/{txnId}(txnId=${txn.id})}" th:text="${txn.id}"></a></td>
				<td style="padding: 5px" th:text="${txn.date}"></td>
				<td style="padding: 5px" th:text="${txn.retailer}"></td>
				<td style="padding: 5px" th:text="${txn.type == 'C' ? txn.amount : '-'}"></td>
				<td style="padding: 5px" th:text="${txn.type == 'C' ? '-' : txn.amount}"></td>
		</table>
	
	</body>
</html>